{%extends "base.html" %}

{% block titulo %} Lista de libros {% endblock %}

{% block contenido %}

<div class="card">
    <div class="card-header">
        Listar libros
    </div>
    <div class="card-body">
        <h4 class="card-title">Libros</h4>
        
        <div
            class="table-responsive"
        >
            <table
                class="table table-primary"
            >
                <thead>
                    <tr>
                        <th scope="col">ID</th>
                        <th scope="col">Titulo</th>
                        <th scope="col">Imagen</th>
                        <th scope="col">Descripcion</th>
                        <th scope="col">Acciones</th>
                    </tr>
                </thead>
                <tbody>
                    
                    <tr class="">
                        <td >1</td>
                        <td>Django con python </td>
                        <td>Imagen.jpg</td>
                        <td>libro que habla sobre el framework dde Django</td>
                        <td>Editar | borrar </td>
                    </tr>
                </tbody>
            </table>
        </div>
        


    </div>
    <div class="card-footer text-muted">Footer</div>
</div>


{% endblock %}